*{
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
}

header{
    width: 50%;
	margin:0 auto;
    height: 45px;
    background: #80bfdb;
	border-radius:7px;
}

.menu{
    width: 100%;
    height: 50px;
    display: flex;
    perspective: 200px;
}

.menu ul{
    display: flex;
    margin: auto;
}

.menu li{
    list-style: none;
    padding: 15px 20px;
}

.menu li:hover{
    background: rgba(0,0,0,0.3);
    color: white;
    cursor: pointer;
    transition: all 300ms;    
}

.menu ul li ul{
    *display: none;
    flex-direction: column;
    position: absolute;
    background: #F51443;
    margin-top: 15px;
    transform: rotateY(240deg) scale(0);
    transition: all 1s;
    box-shadow: 1px 1px 10px 0px black;
}

.menu ul li:hover > ul{
    transform: rotateY(0deg) scale(1);
    transition: all 1s;
}

.menu ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 8px solid #14F2F5;
    position: absolute;
    margin-top: -8px;
    margin-left: 20px;
}

.menu ul li ul li ul li{
    position: relative;
}
.menu ul li ul li:hover > ul{
    transform: rotateY(0deg) scale(1);
}

.menu ul li ul li ul{
    right: -90px;
    top: 36px;
    background: #14F2F5;
}

.menu ul li ul li ul:before{
    position: absolute;
    border-bottom: 8px solid #14F2F5;
    margin-top: 18px;
    margin-left: -14px;
    transform: rotate(-90deg);
}


form{
	background-color: #6fa4bb ;
	border-radius:5px;
	margin:0 auto;
	width:300px;
	
}

body{
	background:#022b4b;
}

.btn{
			border-radius: 3px;
			display: inline-block;
			padding: 10px 6px;
			text-decoration: none;
			text-shadow: 0 1px 0 rgba(255,255,255,0.3);
			box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
		}

		.btn-green{
			color: white;
			background-color: #3CC93F;
		}
		.btn-green:hover{
			background-color: #37B839;	
		}
		.btn-green:active{
			background-color: #29962A;
		}



input, textarea{
			border: 0;
			outline: none;

			width: 280px;
		}
.field{
			border: solid 1px #ccc;
			border-radius: 0 4px 4px 0; 
			padding: 10px;
			width: 240px;
		}



img {position:30px; bottom:20px} 






















